@page "/products"
@inject AppDbContext _context
@inject NavigationManager _navigationManager

<h3>Products</h3>

<div class="mb-3">

    <a href="products/create" class="btn btn-success"><i class="oi oi-plus"></i> Criar Produto</a>

    <table class="table">
        <thead>
            <tr>
                <td>#</td>
                <td>Title</td>
                <td>Price</td>
                <td>Category</td>
                <td>Opções</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in _products)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Title</td>
                    <td>@item.Price.ToString("C")</td>
                    <td>@item.Category.Name</td>
                    <td><a href="products/edit/@item.Id" class="btn btn-info"><i class="oi oi-pencil"></i> Editar Produto</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>

@code {
    private List<Product> _products = new();

    protected override async Task OnInitializedAsync()
    {
        _products = await _context.Products.AsNoTracking().Include(x => x.Category).ToListAsync();
    }
}
